<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Book Detail</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
        </md-toolbar>

        <md-dialog-content>
        <div class="md-dialog-content">
                <md-input-container class="md-block" >
                        <label>Book Title</label>
                        <input ng-model="book.title">
                    </md-input-container>
    
                    <md-input-container class="md-block" >
                        <label>Book Edition</label>
                        <input ng-model="book.edition">
                    </md-input-container>
    
                    <md-input-container class="md-block" >
                        <label>Book Author</label>
                        <input ng-model="book.author">
                    </md-input-container>
    
                    <md-input-container class="md-block" >
                        <label>Autor Phone</label>
                        <input ng-model="book.phone">
                    </md-input-container>
    
        </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
        <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
            
        </md-button>
        <span flex></span>
        <md-button ng-click="closeForm()">
            Cancel
        </md-button>
        <md-button ng-click="submitForm()" class="md-primary">
            Submit
        </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>